.restaurantname-btn{

    color: black;
    background-color: blanchedalmond;
    font-style: oblique;
}

.book-table-btn{
    color: black;
    background-color: blanchedalmond;
    font-style: oblique;
}