.navbar {
    //color: aqua;
    background-color: white;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1010;
    //border-bottom: solid 1px #fece00;
}


.nav-container {
    height: 60px;
    width: 100%;
    justify-content: space-between;

}
.nav-container,.nav-links {
    display: flex;
}

ul {
    list-style: none;
}

.nav-links .connexion, .nav-links .signUpUser, .nav-links .logout, .nav-links .profil {
    line-height: 2;
    letter-spacing: 1.2px;
    padding: 8px 20px;
    border-radius: 30px;
    border-style: solid;
    border-width: 0px;
}

.nav-links .signUpUser, .nav-links .logout  {
    margin-right: 20px;
    background-color: #FDC720;

}
.nav-links .connexion, .nav-links .profil  {
    margin-right: 30px;
    background-color: #FBB03B;
}

.nav-container, .nav-links {
    display: flex;
    align-items: baseline;
}

.logo {
    width: fit-content;
    margin-left: 20px;
}

a{
color: black;
text-decoration:none;
font-style: italic;

}
.signUpUser {
    color: black;
    font-style: oblique;
}

@media only screen and (max-width: 600px) {
    .nav-links .connexion, .nav-links .signUpUser, .nav-links .logout, .nav-links .profil {
        line-height: 1.5;
        letter-spacing: 1.1px;
        padding: 5px 10px;
        border-radius: 20px;
        border-style: solid;
        border-width: 0px;
        font-size: 13px;
    }

    .nav-links .signUpUser, .nav-links .logout  {
        margin-right: 10px;
    }

    .nav-links .connexion, .nav-links .profil  {
        margin-right: 20px;
    }
    
    
  }