#sideBar {
    position: relative;
    width: 220px;
    padding: 0 10px;
    /* margin: 0 20px 0 0; */
  }
  #sideBar .pro-sidebar {
    height: 100vh;
  }
  
  #sideBar .closemenu {
    color: #000;
    position: relative;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
    /* margin: 0 20px 0 0; */
  }
  #sideBar .pro-sidebar {
    width: 100%;
    min-width: 100%;
  }
  #sideBar .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
  }
  #sideBar .pro-sidebar-inner {
    background-color: white;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
  }
  #sideBar .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }
  #sideBar .pro-sidebar-inner .pro-sidebar-layout .logotext  {
    font-size: 20px;
    padding: 0 20px;
    color: black;
    font-weight: bold;
  }
  #sideBar .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
  }
  #sideBar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 10px 0px;
    font-weight: bold;
  }
  #sideBar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #fbf4cd;
    color: #000;
    border-radius: 3px;
  }
  #sideBar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
  }
  #sideBar .pro-sidebar-inner .pro-sidebar-layout .active {
    background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
  }
  #sideBar .logo {
    padding: 20px;
  }
  
  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }